body {
    background: repeating-linear-gradient(
        45deg,
        hotpink,
        lime,
        cyan,
        yellow
    );
    text-align: center;
    font-family: "Comic Sans MS", cursive;
}

button {
    font-size: 30px;
    padding: 20px;
    background: red;
    color: yellow;
    border: 5px dashed blue;
    cursor: pointer;
}

button:hover {
    background: purple;
    color: white;
}

.oculto {
    display: none;
}

.parpadeo {
    animation: blink 0.5s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.arcoiris {
    animation: rainbow 1s infinite;
}

@keyframes rainbow {
    0% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
    100% { color: violet; }
}

.gif {
    width: 300px;
    transform: rotate(-5deg);
}

.casa {
    width: 80%;
    border: 10px solid fuchsia;
}

.texto-cutre {
    font-size: 25px;
    background: yellow;
    color: red;
    display: inline-block;
    padding: 10px;
}


#loading {
    position: fixed;
    inset: 0;
    background: repeating-linear-gradient(
        90deg,
        red,
        yellow,
        lime,
        cyan,
        fuchsia
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    text-align: center;
}

.barra-contenedor {
    width: 60px;
    height: 300px;
    border: 6px ridge blue;
    background: black;
    margin: 20px;
    overflow: hidden;
}

.barra {
    width: 100%;
    height: 0%;
    background: repeating-linear-gradient(
        0deg,
        yellow,
        red,
        yellow
    );
    animation: cargar-mal 5s steps(1) forwards,
    temblar 0.2s infinite;
}

@keyframes cargar-mal {
    0%   { height: 0%; }
    10%  { height: 20%; }
    20%  { height: 15%; }   /* retrocede */
    30%  { height: 40%; }
    40%  { height: 35%; }   /* retrocede */
    50%  { height: 70%; }
    60%  { height: 60%; }   /* retrocede */
    70%  { height: 85%; }
    80%  { height: 50%; }   /* WTF */
    90%  { height: 95%; }
    100% { height: 100%; }
}


@keyframes temblar {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
}
